# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# Local database
*.db

# Testing
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
